.div1
{
  font-size: 40pt;
  background-color:#fff;
  border-radius:25px;
  box-shadow:2px 4px 4px 8px #EDE7F6;
  margin-left:90px;
  margin-right:90px;
  margin-top:100px;
  margin-bottom:100px;
  padding-top:50px;
  padding-bottom:50px;
  
  
}

.div2
{
  font-size: 40pt;
  background-color:#fff;
  border-radius:25px;
  box-shadow:2px 4px 4px 8px #EDE7F6;
  margin-left:90px;
  margin-right:90px;
  margin-top:100px;
  margin-bottom:100px;
  padding-bottom:50px;
  padding-top:50px;
  font-family: 'Nanum Gothic', sans-serif;
  color:#000;
}
a.home
{
  font-size: 40pt;
  background-color:#fff;
  border-radius:25px;
  box-shadow:2px 4px 4px 8px #EDE7F6;
  padding-top:30px;
  padding-bottom:30px;
  padding-left:50px;
  padding-right:50px;
  text-decoration:none;
  color:#000;
}

a.a1
{
  color:#000;
  font-family: 'Nanum Gothic', sans-serif;
  
 }
 
 
a.a2
{
  color:#000;
  font-family: 'Nanum Gothic', sans-serif;
  
 }
 
 
a.a3
{
  color:#000;
  font-family: 'Nanum Gothic', sans-serif;

 }
 h1
 {
   font-family: 'Nanum Gothic', sans-serif;
  color:#000;
 }
 
